frontend {{gitlab_dns}}_prae
  bind *:2305
  mode tcp
  option tcplog
  default_backend praefect_nonssl

frontend {{gitlab_dns}}.ca_prae
  bind *:3305
  mode tcp
  option tcplog
  default_backend praefect_https

backend praefect_nonssl
  mode tcp
{% for ip in groups['praefect'] %}
  server praefect{{loop.index}} {{ ip }}:2305 check
{% endfor %}

backend praefect_https
  mode tcp
{% for ip in groups['praefect'] %}
  server praefect{{loop.index}} {{ ip }}:3305 check
{% endfor %}