global
    log /dev/log local0
    log localhost local1 notice
    maxconn 50000
    nbproc 1
{% for cpu in range(ansible_processor_vcpus) %}
    cpu-map {{ cpu + 1 }} {{ cpu + 1 }}
{% endfor %}
    daemon

# listen stats
#     bind 0.0.0.0:7331
#     mode http
#     stats enable
#     stats hide-version
#     stats realm Haproxy\ Statistics
#     stats uri /
#     stats auth admin:ADMINPASSWORD
#     stats admin if TRUE


defaults
    log global
    mode http
    default-server inter 10s fall 3 rise 2
    balance leastconn
    compression algo gzip
    compression type text/css text/html text/plain text/xml application/json
    option httplog
    option dontlognull
    retries 3
    timeout connect 10m
    timeout client 30m
    timeout server 30m
 
{% if 'inthaproxy' in hostvars[inventory_hostname].group_names %}
{% include 'haproxy_internal.cfg.j2' %}
{% else %}
{% include 'haproxy_external.cfg.j2' %}
{% endif %}
