
# Fake Front ends that are used for LB backend hcecks
# frontend check_http
#     bind *:8001
#     mode http
#     option splice-auto
#     # acl no_be_srvs_web nbsrv(web) lt 1
#     monitor-uri /-/available-http
#     monitor fail if no_be_srvs_web

#frontend check_https
    # bind *:8002
    # mode http
    # option splice-auto
    # # acl no_be_srvs_web nbsrv(web) lt 1
    # # acl no_be_srvs_api nbsrv(api) lt 1
    # monitor-uri /-/available-https
    # monitor fail if no_be_srvs_web || no_be_srvs_api

frontend {{gitlab_dns}}_http
  bind *:80
  mode tcp
  option tcplog
  default_backend web_server_http

frontend {{gitlab_dns}}.ca_https
  bind *:443
  mode tcp
  option tcplog
  default_backend web_server_https

frontend {{gitlab_dns}}_registry
  bind *:4567
  mode tcp
  option tcplog
  default_backend web_server_registry

frontend {{gitlab_dns}}_ssh
  bind *:2222
  mode tcp
  option tcplog
  default_backend web_server_ssh

backend web_server_http
  mode tcp
{% for ip in groups['gitlab_app'] %}
  server gitlab-rails{{loop.index}} {{ ip }}:80 check
{% endfor %}

backend web_server_https

  mode tcp
  balance roundrobin
  option tcp-check
  option log-health-checks
#  tcp-check connect port 80
#  tcp-check send GET\ /-/health\ HTTP/1.1\r\n
#  tcp-check send Host:\ gitlab.ubs.com:80\r\n
#  tcp-check send \r\n
#  tcp-check expect string HTTP/1.1\ 200\ OK
#  tcp-check expect string GitLab\ OK
#  tcp-check send GET\ /-/readiness\ HTTP/1.1\r\n
#  tcp-check send Host:\ gitlab.ubs.com:80\r\n
#  tcp-check send \r\n
#  tcp-check expect string HTTP/1.1\ 200\ OK
#  tcp-check send GET\ /-/liveness\ HTTP/1.1\r\n
#  tcp-check send Host:\ gitlab.ubs.com:80\r\n
#  tcp-check send \r\n
#  tcp-check expect string HTTP/1.1\ 200\ OK

  option httpchk GET /-/health HTTP/1.1\r\nHost:\ {gitlab_dns}}

{% for ip in groups['gitlab_app'] %}
  server gitlab-rails{{loop.index}} {{ ip }}:443 verify none check port 80
{% endfor %}

backend web_server_ssh
  mode tcp
{% for ip in groups['gitlab_app'] %}
  server gitlab-rails{{loop.index}} {{ ip }}:22 check
{% endfor %}

backend web_server_registry
  mode tcp
{% for ip in groups['gitlab_app'] %}
  server gitlab-rails{{loop.index}} {{ ip }}:4567 check
{% endfor %}
